@tailwind base;
@tailwind components;
@tailwind utilities;
/* Apply custom scrollbar styling to elements with class 'custom-scrollbar' */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f0f0f0; /* Firefox */
}

/* Webkit-based browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Make it round */
  border: 2px solid #f0f0f0; /* Add padding around scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darken on hover */
}
